body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

form {
    width: 300px;
    margin: 120px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #444;
}
